script(nonce=`${nonce}`). 
  //- https://stackoverflow.com/questions/24468518/html5-input-datetime-local-default-value-of-today-and-current-time
  function toLocalISOString(date) {
    const localDate = new Date(date - date.getTimezoneOffset() * 60000);
    localDate.setSeconds(null);
    localDate.setMilliseconds(null);
    return localDate.toISOString().slice(0, -1);
  }
  window.onload = function() {
    document.getElementById('new_contact_datetime').value = toLocalISOString(new Date());
  }

hr
h2 #{data[nameField]} Customer Logs
table(id="logs-table")
  thead
    tr
      th Contact Type
      th Contact Date/Time
      th Contact Medium
      th Contact Description
      th Actions
  tbody
    each log, index in extras.fullLogs
      tr
        form(method="POST", action=`/customers/edit-log/${data._id}/${log._id}`)
          td
            select(class="form-control" name="contact_type")
              option(value="initial contact", selected=(log.contact_type === 'initial contact')) Initial Contact
              option(value="sales", selected=(log.contact_type === 'sales')) Sales
              option(value="support", selected=(log.contact_type === 'support')) Support
              option(value="referrals", selected=(log.contact_type === 'referrals')) Referrals
          td
            input(class="form-control" type="datetime-local" name="contact_datetime", value=log.contact_datetime)
          td
            select(class="form-control" id="contact_medium" name="contact_medium")
              option(value="phone" selected=(log.contact_medium === 'phone')) Phone
              option(value="email" selected=(log.contact_medium === 'email')) Email
              option(value="face to face" selected=(log.contact_medium === 'face to face')) Face to face
          td
            textarea(class="form-control" name="contact_description")=log.contact_description
          td
            button(class="log-button btn-primary" type="submit") Edit
            a(class="log-button btn-danger a-button" type="button" href=`/customers/delete-log/${data._id}/${log._id}`) Delete

h3 Add New Log Entry
form(id="add-log-form" method="POST" action=`/customers/create-log/${data._id}`)
  .form-group
    label(for="new_contact_type") Contact Type
    select(class="form-control" id="new_contact_type" name="contact_type")
      option(value="initial contact") Initial Contact
      option(value="sales") Sales
      option(value="support") Support
      option(value="referrals") Referrals
  .form-group
    label(for="new_contact_datetime") Contact Date/Time
    input(class="form-control" id="new_contact_datetime" type="datetime-local" name="contact_datetime")
  .form-group
    label(for="new_contact_medium") Contact Medium
    select(class="form-control" id="new_contact_medium" name="contact_medium")
      option(value="phone") Phone
      option(value="email") Email
      option(value="face to face") Face to face
  .form-group
    label(for="new_contact_description") Contact Description
    textarea(class="form-control" id="new_contact_description" name="contact_description")
  button(class="log-button btn-primary" type="submit") Add Log

