
h2 Customer Logs
table(id="logs-table")
  thead
    tr
      th Contact Type
      th Contact Date/Time
      th Contact Medium
      th Contact Description
      th Actions
  tbody
    each log, index in data.customer_logs
      tr
        form(method="POST", action=`/edit-log/${log._id}`)
          td
            select(class="form-control" name="contact_type")
              option(value="initial contact", selected=(log.contact_type === 'initial contact')) Initial Contact
              option(value="sales", selected=(log.contact_type === 'sales')) Sales
              option(value="support", selected=(log.contact_type === 'support')) Support
              option(value="referrals", selected=(log.contact_type === 'referrals')) Referrals
          td
            input(class="form-control" type="datetime-local" name="contact_datetime", value=log.contact_datetime)
          td
            input(class="form-control" type="text" name="contact_medium", value=log.contact_medium)
          td
            input(class="form-control" type="text" name="contact_description", value=log.contact_description)
          td
            button(class="btn btn-primary" type="submit") Edit
            button(class="btn btn-danger" type="button", onclick=`deleteLog(${log._id})`) Delete

h3 Add New Log Entry
form(id="add-log-form" method="POST" action="/add-log")
  .form-group
    label(for="new_contact_type") Contact Type
    select(class="form-control" id="new_contact_type" name="contact_type")
      option(value="initial contact") Initial Contact
      option(value="sales") Sales
      option(value="support") Support
      option(value="referrals") Referrals
  .form-group
    label(for="new_contact_datetime") Contact Date/Time
    input(class="form-control" id="new_contact_datetime" type="datetime-local" name="contact_datetime")
  .form-group
    label(for="new_contact_medium") Contact Medium
    select(class="form-control" id="new_contact_mediume" name="contact_medium")
      option(value="phone") Phone
      option(value="email") Email
      option(value="face to face") Face to face
  .form-group
    label(for="new_contact_description") Contact Description
    input(class="form-control" id="new_contact_description" type="text" name="contact_description")
  button(class="btn btn-primary" type="submit") Add Log

