extends tableLayout

block content
    script.
        function addQuery(headerName){
            const searchParams = new URLSearchParams(window.location.search);
            let sortDir = "asc";

            //- edge case for when the table is sorted by default but not in params, this makes it so the user doesn't have to double click to sort it
            if(headerName === "ID" && !searchParams.has("sortDir")){
                sortDir = "des"
            }

            if(searchParams.has("sortDir")){
                //- if it is currently ascending and it is the same header, then set to des
                if(searchParams.get("sortDir") === "asc" & searchParams.get("sortBy") === headerName){
                    sortDir = "des"
                }
            }
            window.location.search = `?sortBy=${headerName}&sortDir=${sortDir}`
        }
    table
        thead 
            tr 
                each column in Object.keys(data[0])
                    th 
                        button(onclick=`addQuery('${column}')` aria-label=`Sort ${column}`) #{column}
                //- th 
        tbody 
            each row in data
                tr
                    each column in row
                        td #{column}
                    td 
                        a(href="") Edit
            tr
                each column in Object.keys(data[0])
                    td 
                        if !noEdit.includes(column)
                            input(placeholder=column)
                td
                    button Add

