extends tableLayout

block content
    script.
        function addQuery(headerName){
            const searchParams = new URLSearchParams(window.location.search);
            let sortDir = "asc";

            //- edge case for when the table is sorted by default but not in params, this makes it so the user doesn't have to double click to sort it
            if((headerName === "ID" || headerName == "_id") && !searchParams.has("sortDir")){
                sortDir = "des"
            }

            if(searchParams.has("sortDir")){
                //- if it is currently ascending and it is the same header, then set to des
                if(searchParams.get("sortDir") === "asc" & searchParams.get("sortBy") === headerName){
                    sortDir = "des"
                }
            }
            window.location.search = `?sortBy=${headerName}&sortDir=${sortDir}`
        }


    label Limit results to:     
    select
        option 10
        option 25
        option 50
        option 100
        option 200

    table
        thead 
            tr 
                each column in Object.keys(data[0])
                    th 
                        button(onclick=`addQuery('${column}')` aria-label=`Sort ${column}`) #{column} 
                            if sortedBy === column 
                                if sortedDir === "asc"
                                    span ▲
                                else 
                                    span ▼
                //- th 
        tbody 
            each row in data
                tr
                    each column in row
                        td #{column}
                    td 
                        a(href=`/single/${row._id}`) View/Edit 
            tr
                form(action=`items/create/${model}` method="post")
                    each column in Object.keys(data[0])
                        td 
                            if !noEdit.includes(column)
                                input(placeholder=column name=column id=column)
                    td
                        button Add

