extends tableLayout

block content
    script.
        function addQuery(headerName){
            const searchParams = new URLSearchParams(window.location.search);
            let sortDir = "asc"
            if(searchParams.has("sortDir")){
                //- if it is currently ascending and it is the same header, then set to des
                if(searchParams.get("sortDir") === "asc" & searchParams.get("sortBy") === headerName){
                    sortDir = "des"
                }
            }
            window.location.search = `?sortBy=${headerName}&sortDir=${sortDir}`
        }
    table
        thead 
            tr 
                each column in Object.keys(data[0])
                    th(onclick=`addQuery('${column}')`) #{column}
                //- th 
        tbody 
            each row in data
                tr
                    each column in row
                        td #{column}
                    td 
                        a(href="") Edit
