script(nonce=`${nonce}`).
    function submitForm() {
        const rootAdmin = #{rootAdmin};
        const permissions = {
            create: document.getElementById("create").checked,
            read: document.getElementById("read").checked,
            update: document.getElementById("update").checked,
            delete: document.getElementById("delete").checked,
        };
        if (rootAdmin){
            permissions.admin = document.getElementById("admin").checked
        }
        const form = document.getElementById("userForm");
        form.elements['permissions'].value = JSON.stringify(permissions);
        form.submit();
    }
    window.addEventListener("load", function(){
        document.getElementById("editEmp").addEventListener("click", submitForm);
    })

h2 Edit #{data[nameField]}
form(id="userForm" action=`/employees/update/${data._id}` method="post")
    .labelInput
        label(for="name") Name:
        input(placeholder="Full name" id="name" name="name" aria-label="Input for employee's full name" value=data.name)

    p Permissions:
    input(type="hidden" name="permissions")
    .labelInput
        label(for="create") Create:
        input(type="checkbox" name="create" id="create" aria-label="Checkbox for create permission" checked=extras.permissions.create)
    .labelInput
        label(for="read") Read:
        input(type="checkbox" name="read" id="read" aria-label="Checkbox for read permission" checked=extras.permissions.read)
    .labelInput
        label(for="update") Update:
        input(type="checkbox" name="update" id="update" aria-label="Checkbox for update permission" checked=extras.permissions.update)
    .labelInput
        label(for="delete") Delete:
        input(type="checkbox" name="delete" id="delete" aria-label="Checkbox for delete permission" checked=extras.permissions.delete)
    if rootAdmin
        .labelInput
            //- only the root account can add new admins, admins get all permissions
            label(for="admin") Admin (Can only be given if you are the root admin, gives all other permissions):
            input(type="checkbox" name="admin" id="admin" aria-label="Checkbox for assigning admin" checked=extras.permissions.admin)
    else 
        p Only the rootAdmin can grant admin status
    button(type="button" id="editEmp") Edit employee


br
a(href=`/employees/delete/${data._id}` id="delete") Delete employee, this cannot be undone
