

//- Conditional include for editing each type, product, customer, employee and customer log (customer log stored with customer)

extends layouts/singleItemLayout

block content
    include includes/header.pug

    br

    h2 #{title} #{data[nameField]}

    table
        thead 
            tr 
                each header in Object.keys(data)
                    th #{header}

        tbody 
            tr
                each item in data
                    td #{item}

    br

    //- This is ugly but dynamic includes (include #{includePath} do not seem to be supported)
    if editInclude == "Products"
        include includes/addEmployee
    if editInclude == "Customers"
        include includes/editCustomer
    if editInclude == "Employees"
        include includes/editEmployees
